<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tour.edu.model.dao.PostDaoImpl">

	<select id="allPostSelect" resultType="pvo">
		SELECT POST_ID,
		POST_TITLE, POST_CONTENT, POST_IMG_PATH, 
		ATTRLOC1, ATTRLOC2, POST_THEME_ID,
		POST_DELFLAG, POST_REGDATE, POST_LIKE_COUNT,
		POST_VIEW_COUNT, ID, BOOKNO
			FROM HR.POST
	</select>
	
	<select id="userPostSelect" resultType="pvo" parameterType="java.lang.String">
		SELECT POST_ID,
		POST_TITLE, POST_CONTENT, POST_IMG_PATH, 
		ATTRLOC1, ATTRLOC2, POST_THEME_ID, 
		POST_DELFLAG, POST_REGDATE, POST_LIKE_COUNT,
		POST_VIEW_COUNT, ID, BOOKNO
			FROM HR.POST p
				WHERE p.ID 
					IN (SELECT FOLLOWING_ID 
						FROM USER_FOLLOW 
							WHERE FOLLOW_ID = #{userid})
	</select>
	
	<select id="themePostSelect" resultType="pvo" parameterType="java.lang.String">
		SELECT POST_ID, POST_TITLE, POST_CONTENT, 
		POST_IMG_PATH, ATTRLOC1, ATTRLOC2, 
		POST_THEME_ID, POST_DELFLAG, POST_REGDATE, 
		POST_LIKE_COUNT, POST_VIEW_COUNT, ID, 
		BOOKNO
			FROM HR.POST p
				WHERE p.POST_THEME_ID 
					IN (SELECT THEME_FOLLOWING_ID 
						FROM THEME_FOLLOW tf 
							WHERE USERID = #{id})
	</select>
	
	<select id="detailPostSelect" resultType="pvo" parameterType="java.lang.Integer">
		SELECT POST_ID, POST_TITLE, POST_CONTENT, 
		POST_IMG_PATH, ATTRLOC1, ATTRLOC2, 
		POST_THEME_ID, POST_DELFLAG, POST_REGDATE, 
		POST_LIKE_COUNT, POST_VIEW_COUNT, ID, BOOKNO
			FROM HR.POST p
				WHERE p.POST_ID = #{id}
	</select>
</mapper>
