<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tour.edu.model.dao.MyTourDataDaoImpl">
	
	<select id="MyTourDataAll" resultType="com.tour.edu.vo.MyTourDataVo">
		SELECT DATANO, BOOKNO, ATTRLOC1, ATTRLOC2, TOURORDER, CONTENTID, NAME
			FROM MYTOURDATA
	</select>
	
	<select id="MyTourDataBookNo" parameterType="java.lang.Integer"  resultType="com.tour.edu.vo.MyTourDataVo">
		SELECT DATANO, BOOKNO, ATTRLOC1, ATTRLOC2, TOURORDER, CONTENTID ,NAME
			FROM MYTOURDATA WHERE BOOKNO=#{bookNo} ORDER BY TOURORDER
	</select>
	
	
	<insert id="MyTourDataInsert" parameterType="com.tour.edu.vo.MyTourDataVo">
			INSERT INTO MYTOURDATA
				(DATANO, BOOKNO, ATTRLOC1, ATTRLOC2, TOURORDER, CONTENTID, NAME)
						VALUES(DATANO_SEQ.NEXTVAL, #{bookNo}, #{attrLoc1}, #{attrLoc2}, 0 , #{contentId} ,#{name})
	</insert>
	
	<update id="MyTourDataDelflag" parameterType="java.lang.Integer">
		UPDATE MYTOURDATA SET DELFLAG ='Y' WHERE BOOKNO=#{bookNo}
	</update>
	
	<delete id="MyTourDataDeleteDataNo" parameterType="java.lang.Integer">
		DELETE FROM MYTOURDATA
			WHERE DATANO=#{dataNo}
	</delete>
	
	
	
	<delete id="MyTourDataDeleteBookNo" parameterType="java.lang.Integer">
		DELETE FROM MYTOURDATA
			WHERE DATANO=#{bookNo}
	</delete>
	
	
	<update id="MyTourDataUpdate" parameterType="com.tour.edu.vo.MyTourDataVo">
		UPDATE MYTOURDATA
				SET ATTRLOC1=#{attrLoc1}, ATTRLOC2=#{attrLoc2}, TOURORDER= #{tourOrder}, CONTENTID=#{contentId}
					WHERE DATANO=#{dataNo}
	</update>
	<update id="MyTourDataTourOrderUpdate" parameterType="com.tour.edu.vo.MyTourDataVo">
		UPDATE MYTOURDATA
				SET TOURORDER= #{tourOrder}
				WHERE DATANO=#{dataNo}
	</update>
	
</mapper>
